<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.fefu.activitytracker">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Activity">
        <activity
            android:name=".ProfileChangeFragment"
            android:exported="true" />
        <activity
            android:name=".StartedActivityFragment"
            android:exported="true" />
        <activity
            android:name=".ProfileViewFragment"
            android:exported="true" />
        <activity
            android:name=".NewActivityFragment"
            android:exported="true" />
        <activity
            android:name=".ActivityTabs"
            android:exported="true" />
        <activity
            android:name=".UserActivityInfo"
            android:exported="true" />
        <activity
            android:name=".MyActivityInfo"
            android:exported="true" />
        <activity
            android:name=".HaveAnAccount"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.tracker.ActivityOtherTrackerFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.tracker.ActivityMyTrackerFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".TrackerActivity"
            android:exported="true" />
        <activity
            android:name=".HaveAnAccount"
            android:exported="true" />
        <activity
            android:name=".WelcomeScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>